.actualite_summary, .actualite_content {
	ul li{
		list-style: disc;
    margin-left: $marginNormal;
    margin-bottom: $marginSmall;
	}
}

.actualite h2{
	&:hover{
		color: $mainColor;
		cursor: pointer; 
	}
	&.active{
		color: $mainColor;
	}
}