.sidebar{
	.tags{
		position: fixed; 
		z-index: 200; 
		width: inherit;
		max-width: inherit;
		margin-top: $marginBig;
		padding-left: $marginSmall;
		li{
			width: 80%;
			font-size:$smallTextSize;
			@include grayBorder;
			padding-top: $marginSmall/2;
			padding-bottom: $marginSmall/2;
			cursor: pointer; 
			&:hover, &.active{
				color: $mainColor; 
				border-bottom: 1px solid $mainColor;
			}
			position: relative;
			&:hover:after{
			  display: flex;
			  justify-content: center;
			  position: absolute;
			  left: 50%;
			  background: rgb(225, 232, 239);
			  border-radius: 5px;
			  color: $textColor;
			  content: attr(data-title);
			  font-size: 12px;
			  font-style: italic;
			  padding: 13px;
			  width: 220px;
			  z-index: 20;
			}
		}
	}
}


.list-projects-content{
	margin-left:0;
}

.album-project{
	padding: 0;
	margin:0;
	opacity:1;
	transition: opacity 0.2s ease;
	position: relative; 
	&.hide{
		opacity: 0;
	}
	&:hover .album-project-info{
		// display: block;
		opacity: 1;
	}
	.album-project-info{
		position: absolute; 
		background: #FFF; 
		border-top:  0.01em solid #BDBDBD;
		border-bottom: 0.01em solid #BDBDBD;
		padding: 5px $marginNormal;
		// max-width: 280px;
		width: 280px;
		// right: -100%;
		opacity: 0;
		// bottom:0;
		// display:none;
		z-index: 99;
		transition: all 0.2s ease;
		color: #000;

		h3, p{
			font-size: $smallTextSize;
			font-weight:normal; 
			text-decoration:none;
			margin:0;
			margin-bottom:5px;
		}
		h2{
			font-size: $textSize; 
			margin:0;
			margin-bottom:5px;
		}
	}

}

// -------- page projet -----------
// texte
.projet-infos{
	@include grayBorder;
	@include grayBorderTop;
	padding-top: $marginSmall;
	padding-bottom: $marginNormal;
	.projet-infos-inner{
		h1{
			font-size: $h2Size;
			margin:0; 
			font-style: italic;
		}
		p.date, p.place{
			margin:5px 0;
		}
		ul{
			padding-left: $marginNormal;
			li{
				list-style: disc;
				margin-bottom: $marginSmall;
			}
		}
	}
}

// slick
.slick-prev::before, .slick-next::before{
	color: $textColor;
}

.slider-for{
	position: relative;
}

.slider-for .portrait {
	// position:relative
	img{
		width: 50%;
		margin:auto;
	}
}

.slider-for .landscape{
	position:relative;
	// height: inherit;
	// min-height: inherit;
	// img{
	// 	position: absolute;
	// 	top: 170px;
	// 	transform: translateY(-50%);
	// }
}

// .slider-for .portrait{
// 	width: 200px; 
// 	margin:auto;
// }

// .slider-for .landscape{
// 	width: 500px;
// 	max-width: 100%;
// }

.slider-nav{
	display: flex;
	justify-content: space-between;
	.image-same-height{
		height: 100px;
	}
	figure{
		// width: auto !important;
	}
}



