.list-projects__th{
	border-bottom: 0.12em solid $textColor;
	padding-bottom: $marginSmall;
	font-size: $smallTextSize;
}

// taille des colonnes
.list-projects__td--date, .list-project__td--date{
	max-width: 10%;
	flex-basis: 10%;
}

.list-projects__td--topography, .list-project__td--topography{
	max-width: 20%;
	flex-basis: 20%;
}

.list-projects__td--place, .list-project__td--place{
	max-width: 15%;
	flex-basis: 15%;
}

.list-projects__td--title, .list-project__td--title{
	max-width: 18%;
	flex-basis: 18%;
}

.list-projects__td--distribution, .list-project__td--distribution{
	max-width: 18.5%;
	flex-basis: 18.5%;
}

.list-projects__td--partenaires, .list-project__td--partenaires{
	max-width: 18.5%;
	flex-basis: 18.5%;
}

.list-projects-content{
	.list-project__td--distribution, .list-project__td--partenaires{
		p{
			font-size: 12px;
		}
	}
	article{
		font-size: $smallTextSize;
		p, h2{font-size: $smallTextSize;}
		h2{
			margin-bottom:0;
		}
		h2 + p {
			margin-top:0;
		}
		hyphens: auto;
		margin-top:0;
		max-height: 160px;
		overflow: hidden;
		padding-bottom: $marginNormal;
		transition: all 0.5s ease;
		&:hover{
			cursor: pointer;
			.list-project__td--date {
				color: $mainColor;
				font-style: italic;
			}
		}
		&.active{
			max-height: 800px;
			transition: all 0.5s ease;
			.list-project__td--date {
				color: $mainColor;
				font-style: italic;
			}
			.list-project__details__inner{
				height: auto;
				transition: all 0.5s ease;
				.chopper{
					display:none;
				}
				.entire{
					display:block;
				}
			}
		}
	}

}

.list-project__details__inner{
	margin-left:0;
	height: 160px;
	padding-bottom: $marginSmall;
	transition: all 0.5s ease;
	.entire{
		display:none;
	}
} 

.list-project__td{
	// padding-right:0;
	h2{
		font-size: $textSize;
		margin-top: $marginNormal;
	}
}


@media only screen and (min-width: 48em){
	.list-project__details__inner{
		margin-left:-1rem;
	} 

}