// -------------- MOBILE-FIRST HEADER --------------
.nav{ 
	margin:0;
	width: 100%;
	font-size: $textSize;
	.main-nav{
		margin-top: $marginSmall;
		margin-bottom: $marginBig;
		padding-left:0;
		ul{
			padding: 0;
			.groupe1{
				font-size: $titleSize;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
			.groupe2{
				font-size: $h2Size;
				margin-bottom: 30px;
			}
			.groupe3{
				font-size: $h2Size;
				margin-bottom: 30px;
			}
			.groupe4{
				font-size: $textSize;
				margin-bottom: 30px;
			}
			.groupe5{
				font-size: $textSize;
				margin-bottom: 30px;
			}
			.old-site{
				p{font-size:13px;}
			}
			li{
				list-style: none;
				color: $textColor;
				@include grayBorder;
				a{
					color: $textColor;
					&:hover{
						color: $mainColor;
					}
				}
				&.active{
					a{
						color: $mainColor;
					}
				}
			}				
		}
	}
}


header{
	z-index: 100; 
	a{text-decoration:none;}
	.logo{
		padding-top:8vw;
		position:absolute;
		width: 16.667%;
		min-width: 110px;
		max-width: 450px;
		top:0;
		left:1.1rem;
		z-index: 201;
		padding: $marginNormal 1rem 0 1rem;
		// border: 1px solid red;
		h1{
			font-family: "Maximum", sans-serif;
			color: $textColor;
			font-size: 15px;
			text-align: center;
			font-style:normal;
			font-weight: bold;
		}
		img{
			min-width: 50px;
		}
		a{
			border:none;
		}
	}
	.menu_btns{
		position: fixed	;
		right: 8%; 
		top: 0px;
		z-index:301; 
		padding-top: $marginNormal;
		.menu_btn{
			cursor: pointer;
			text-transform: uppercase;
			.menu-arrow{
				display:inline-block;
				position: relative;
				top: -2px;
			} 
			&:hover{
				font-style:italic; 
				color: $mainColor;
			}
		}
		.languages{
			text-align: right; 
			li{
				display: inline-block;
				text-transform: uppercase;
				font-size: $smallTextSize;
				a{
					color: $textColor;
					&:hover{
						color: $mainColor; 
					}
				} 
				&.active a{
						color: $mainColor; 
						font-style: italic;
				}
				&::before{
					content: "/";
				} 
				&:first-child:before{
					content: "";
				}
			}

		}
	}

	.nav{
		max-height:0; 
		overflow:hidden; 
		position:fixed;
		background: $backgroundColor;
		width: 100%;
		max-width: 100%;
		left: 0;
		top: 0px;
		transition: all 0.5s ease;
		z-index: 300;
		padding: 0 $marginBig; 
		&.active{
			max-height: 100vh; 
			overflow: auto;
			padding-top: $marginNormal;
			padding-bottom: $marginBig;
		}
	}

}


// -------------- DESKTOP HEADER --------------
@media only screen and (min-width: 48em){
	header{
		padding: 0; 
		.logo{
			position:fixed;
			left:0;
			.image-logo-wrapper{
				width: 45%;
				margin:auto;
			}
		}
		.nav{
			width: 75.333%;
			max-width: 75.333%;
			left: 17%;
			padding: 0; 
		}
	}
}