  // I M P O R T
  // -------------- MOBILE-FIRST --------------
  @import "_variables.scss";

  *{
    box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
  	margin: 0; 
    font-size: $textSize; 
    font-family: $font;
    background: $backgroundColor;
    line-height: 1.4;
    color : $textColor;
    overflow-x: hidden;
  }

  // -------------- RESET.CSS --------------
  ul, ol{margin:0; padding:0;}
  li{list-style:none;}
  a{color: $mainColor;text-decoration: none;}
  a:visited{color: $mainColor;}
  a:hover{color: $mainColor; font-style: italic;}
  img {width: 100%;vertical-align: top;}
  figure{margin:0;}
  figcaption {
    max-width: 170px;
    p{
      font-style: italic;
      font-size: 12px;
      color: $secondColor;
      margin-top:5px; 
    }

  }
  .audiocaption{
    font-size: $textSize;
    font-style: italic; 

  }
  p{
    font-size: $textSize; 
    margin-top: $marginNormal;
    margin-bottom: $marginNormal;

  }
  h1{
    font-size: $titleSize;
    margin-top:$marginSmall;
    margin-bottom: $marginNormal;
    line-height: 1.2;
    font-weight:normal; 
    // font-style: italic;
  }
  h2{
    margin:0;
    margin-bottom: $marginNormal;
    font-size: $h2Size;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
  }

  h3{
    text-decoration:underline;
    font-size:$textSize; 
    font-style: italic;
    font-weight: normal;
    margin-bottom: $marginSmall;
  }

  h3 + p{
    margin-top: 0;
  }
        

  h4{
    color: $mainColor; 
    font-weight: 700;
    margin-bottom: $marginNormal;
  }

  h5{
    margin-top: $marginBig;
    margin-bottom: $marginSmall;
  }

  blockquote{
    margin:0;
    padding:0;
    font-style: italic; 
  }


  video, iframe{
    width: 100%;
  }



  // -------------- IMPORT TEMPlATES STYLES --------------
  @import "header.scss";
  @import "home.scss";
  @import "article.scss";
  @import "escales.scss";
  @import "album.scss";
  @import "actu.scss";


  // -------------- MOBILE-FIRST GENERAL --------------
  .show-for-small-only{
  	display:block;
  }

  .hide-for-small-only{
  	display:none;
  }

  main{
    padding: 150px $marginNormal 0px $marginNormal; 
    width: 100%;
    // max-width: 1000px;
    margin:auto;
    font-size: $textSize;
    margin-bottom: 200px;
  }

  .rouge{
    color: $mainColor;
  }

  .sentence-gray-italic{
    color: $secondColor;
    font-style: italic; 
    font-size: $textSize;
  }

  .top-page{
    border-bottom: 1px solid $mainColor;
    margin-left: 1rem;
    h1{
      max-width: 80%;
    }
  }

  body[data-template='actualites'] .top-page, body[data-template='escales'] .top-page, body[data-template='album'] .top-page{
    text-transform:uppercase;
  }

  .content-inner{
    margin-top: $marginBig;
  }

  .small{
    font-size: $smallTextSize;
  }

  .cover{
    margin-bottom: $marginNormal;
    margin-right: $marginNormal;
  }

  .image-same-height{
    height: 142px;
    text-align: left;
    padding: $marginSmall;
    // margin-left: 0.5rem;
    
    img {
      width:auto;
      max-height: 100%;
    }
  }

  .audioplayer{
    background-color: transparent; 
    box-shadow: none;
    padding-left: 0;
    margin-bottom: $marginNormal; 
    .holder{
      .play-pause-btn__icon{
        fill: $mainColor;
      } 
    }
    .slider .gap-progress .pin{
      background-color: $secondColor;
    }
    .slider .gap-progress{
      background-color: $mainColor;
    }
    .controls{
      font-family: $font;
      color: $secondColor;
      font-size: $smallTextSize;
    }
    audio{
      display:none;
    }
    .volume{
      display:none;
    }
  }

  section{
    margin-bottom: $marginBig;
  }

  article{
    @include grayBorder;
    margin-top: $marginNormal; 
    padding-bottom: $marginSmall; 
    &:first-child{
      margin-top:0;
    }
  }

  .more-btn{
    margin-top: $marginNormal; 
    padding-bottom: $marginSmall;
    cursor: pointer;
    &:hover{
      color: $mainColor; 
      font-style: italic;
    }
    &.active{
      color: $mainColor; 
      font-style: italic;
      &::after{
        content:'↑'; 
      }
    }
    &::after{
      content:'↓'; 
      color: $mainColor;
      margin-left: $marginNormal;
      position: relative;
      top: -2px;
    } 
  }

  .content-to-hide{
    // display:none;
    // height: 0; 
    max-height:0; 
    overflow: hidden;
    transition: all 0.5s ease;
    &.active{
      max-height: 800px;
      transition: all 0.5s ease;

    }
  }

  .table-of-contents{
    margin-top: $marginBig;
    position:fixed;
    width:inherit;
    max-width:inherit;
    padding-left: $marginSmall;
    li{
      width: 80%;
      font-size: 12px;
      padding-top: 5px;
      padding-bottom:5px;
      @include grayBorder;
      a{
        color: $textColor; 
        &:hover{
          color: $mainColor;
        }
      }
    }
  }

  .pdf{
    font-size: $smallTextSize;
    display: block;
    padding-left: 30px;
    color: $textColor;
    &::before{
      content: url("../images/picto-pdf.svg");
      margin-left: -30px;
      position: relative; 
      top: 8px; 
      margin-right: 10px; 
    }
    &:hover{
      color: $mainColor; 
    } 
  }

  // blocks
  .quote, blockquote{
    margin: $marginNormal 0 $marginBig $marginBig;
  }

  .list{
    h2{
      margin-bottom: $marginBig; 
    }
    article{
      padding: 0; 
      margin:0; 
      margin-top: $marginNormal; 
      padding-bottom: $marginNormal; 
      cursor: pointer; 
      &:hover{
        h3{
          color: $mainColor; 
          font-style: italic;
        }
      }
      &.active{
        h3{
          color: $mainColor; 
          font-style: italic;
          &::after{
            content:'↑'; 
          }
        }
      }
      h3{
        text-decoration: none; 
        font-weight:normal;
        font-style: normal;
        margin:0;
        &::after{
          content:'↓'; 
          color: $mainColor;
          margin-left: $marginNormal;
          position: relative;
          top: -2px;
        }
      }
      .content-to-hide{
        h3{
          color: $textColor;
          text-decoration: underline;
          margin-bottom: $marginSmall;
          &::after{
            content:"";
          }
        }
        .list_title-info{
          p{
            font-size: $smallTextSize;
            font-style: italic;
            margin-top:0;
          }
        }
        .list_pdfs{
          font-size: $smallTextSize;
          li{
            padding-left: 30px;
            margin-left: 5px;
            &::before{
              content: url("../images/picto-pdf.svg");
              margin-left: -30px;
              position: relative; 
              top: 10px; 
            }
          }
          a{
            color: $textColor;
            margin-left: 10px;

            &:hover{
              color: $mainColor; 
            }
          } 
        }
      }
    }

  }

  .foldtext{
    @include grayBorder;
  }

  .bodytext{
    ul{
      li{
        list-style: disc;
        margin-left: $marginNormal;
        margin-bottom: $marginSmall;
      }
    }
    & + .imagesgallery{
      margin-top: -30px;
    }
  }

  .imagesgallery{
    ul{
      margin-left: -10px;
    }
    .image-same-height{
      height: 200px;
    }
  }

  .pagesgallery{
    li{
      a{
        figcaption{
          color: $textColor;
        }
        &:hover figcaption{
          color: $mainColor;
        }
        
      }
    }
  }

  .projectsgallery{
    ul{
      margin:0;
    }
    li{
      margin-bottom: $marginNormal;
      h3{
        font-size:22px;
      }
      h3, p{
        color: $textColor;
        text-decoration:none;
        margin:0;
      }
      a:hover h3, a:hover p{
        color: $mainColor;
      }
    }
  }


 


  // -------------- DESKTOP GENERAL --------------
  @media only screen and (min-width: 48em){
    .cover {
      margin:0;
    }
    main{
      padding-top:$marginNormal;
       width: 96%;
    }
    .sidebar{
      padding-top:8vw;
      position: relative;
      width:100%;
      max-width:16.667%;
    }


    .show-for-small-only{
        display:none !important;
    }
    .hide-for-small-only{
        display:block !important;
    }
  }





