  // I M P O R T
  // -------------- MOBILE-FIRST --------------
  @import "_variables.scss";

  *{
    box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body{
  	margin: 0; 
    font-size: $textSize; 
    font-family: $font;
    background: $backgroundColor;
    line-height: 1.4;
    color : $textColor;
    overflow-x: hidden;
  }

  // -------------- RESET.CSS --------------
  ul, ol{margin:0; padding:0;}
  li{list-style:none;}
  a{color: $mainColor;text-decoration: none;}
  a:visited{color: $textColor;}
  a:hover{color: $mainColor; font-style: italic;}
  img {width: 100%;vertical-align: top;}
  figure{margin:0;}
  // figure { width: 100%; }
  // img[data-sizes="auto"] { display: block; width: 100%; }
  // .lazysrcset-ratio {  
  //   position: relative;
  // }
  // .lazysrcset-ratio > img {
  //     display: block;    
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  // }
  // .lazysrcset-ratio > img:after {
  //     display: block;
  //     width: 100%;
  //     height: 0;
  //     content: '';
  // }
  figcaption {
    max-width: 170px;
    p{
      font-style: italic;
      font-size: 12px;
      color: $secondColor;
      margin-top:5px; 
    }

  }
  .audiocaption{
    font-size: $textSize;
    font-style: italic; 

  }
  p{
    font-size: $textSize; 
    margin-top: $marginNormal;
    margin-bottom: $marginNormal;

  }
  h1{
    font-size: $titleSize;
    margin-top:$marginSmall;
    margin-bottom: $marginNormal;
    line-height: 1.2;
    font-weight:normal; 
    // font-style: italic;
  }
  h2{
    margin:0;
    margin-bottom: $marginNormal;
    font-size: $h2Size;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
  }

  h3{
    text-decoration:underline;
    font-size:$textSize; 
    font-style: italic;
    font-weight: normal;
    margin-bottom: $marginSmall;
  }

  h3 + p{
    margin-top: 0;
  }
        

  h4{
    color: $mainColor; 
    font-weight: 700;
    margin-bottom: $marginNormal;
  }

  h5{
    margin-top: $marginBig;
    margin-bottom: $marginSmall;
  }

  blockquote{
    margin:0;
    padding:0;
    font-style: italic; 
  }


  video, iframe{
    width: 100%;
  }



  // -------------- IMPORT TEMPlATES STYLES --------------
  @import "header.scss";
  @import "escales.scss";
  @import "album.scss";
  @import "actu.scss";


  // -------------- MOBILE-FIRST GENERAL --------------
  .show-for-small-only{
  	display:block;
  }

  .hide-for-small-only{
  	display:none;
  }

  // page loader
  .page_loader{
    width: 100%;
    height: 100vh; 
    background: rgba(255, 255, 255, 0.9);
    position: fixed; 
    top: 0; 
    left:0;
    z-index: 999;
    .page_loader-inner{
      width: 200px;
      left: 50%;
      top: 50%;
      margin-left: -100px;
      margin-top: -100px;
      position: absolute;
      z-index: 999;
    }
  }

  main{
    padding: 150px 0 0px $marginNormal; 
    width: 100%;
    // max-width: 1000px;
    margin:auto;
    font-size: $textSize;
    margin-bottom: 400px;
  }

  .rouge{
    color: $mainColor;
  }


  .top-page{
    border-bottom: 1px solid $mainColor;
    margin-left: 1rem;
  }

  body[data-template='actualites'] .top-page, body[data-template='escales'] .top-page, body[data-template='album'] .top-page, body[data-template='projet'] .top-page{
    text-transform:uppercase;
  }

  // body[data-template="default"]{
  //   .content-inner{
  //     max-width: 1200px;
  //   }
  // }

  .content-inner{
    margin-top: $marginBig;
    padding-right:0;
  }

  .small{
    font-size: $smallTextSize;
  }

  .cover{
    margin-bottom: $marginNormal;
    margin-right: $marginNormal;
  }

  .image-same-height{
    height: 90px;
    text-align: left;
    padding: $marginSmall;
    // margin-left: 0.5rem;
    
    img {
      width:auto;
      max-height: 100%;
    }
  }
  .audio + p{
    margin-top: 0;
    margin-bottom: $marginBig;
  }

  .audioplayer{
    background-color: transparent; 
    box-shadow: none;
    padding-left: 0;
    // margin-bottom: $marginNormal;
    .holder{
      .play-pause-btn__icon{
        fill: $mainColor;
      } 
    }
    .slider .gap-progress .pin{
      background-color: $secondColor;
    }
    .slider .gap-progress{
      background-color: $mainColor;
    }
    .controls{
      font-family: $font;
      color: $secondColor;
      font-size: $smallTextSize;
    }
    audio{
      display:none;
    }
    .volume{
      display:none;
    }
  }

  section{
    margin-bottom: $marginBig;
  }

  article{
    @include grayBorder;
    margin-top: $marginNormal; 
    padding-bottom: $marginSmall; 
    &:first-child{
      margin-top:0;
    }
  }

  .more-btn{
    margin-top: $marginNormal; 
    padding-bottom: $marginSmall;
    cursor: pointer;
    &:hover{
      color: $mainColor; 
      font-style: italic;
    }
    &.active{
      color: $mainColor; 
      font-style: italic;
      &::after{
        content:'↑'; 
      }
    }
    &::after{
      content:'↓'; 
      color: $mainColor;
      margin-left: $marginNormal;
      position: relative;
      top: -2px;
    } 
  }

  .content-to-hide{
    // display:none;
    // height: 0; 
    max-height:0; 
    overflow: hidden;
    transition: all 0.5s ease;
    &.active{
      max-height: 2000px;
      transition: all 0.5s ease;

    }
  }

  .go-back-arrow{
    width:inherit;
    max-width: inherit;
    font-size: $smallTextSize;
    text-align: center; 
    text-transform:uppercase;
    // position: fixed;
    // margin-left: -2%;
    // margin-bottom: 0;
     // margin-top: $marginBig;
    margin-left: 1rem;
    margin-bottom: $marginSmall;
    a{
      color: $textColor; 
      // font-size: 40px;
      &:hover{
        color:$mainColor;
      }
    }

  }

  .sentence-gray-italic{
    margin-top: $marginBig;
    position:fixed;
    width: inherit;
    max-width: inherit;
    color: $secondColor;
    font-style: italic; 
    padding-left: $marginSmall;
    p{
      font-size: $smallTextSize;
       width: 80%;
    }
  }

  .table-of-contents{
    margin-top: $marginBig;
    position:fixed;
    width:inherit;
    max-width:inherit;
    padding-left: $marginSmall;
    li{
      width: 80%;
      font-size: 12px;
      padding-top: 5px;
      padding-bottom:5px;
      @include grayBorder;
      a{
        color: $textColor; 
        &:hover{
          color: $mainColor;
        }
      }
      &.active a{
        color: $mainColor;
        font-style: italic;
      }
    }
  }

  .pdf{
    font-size: $smallTextSize;
    display: block;
    padding-left: 30px;
    color: $textColor;
    &::before{
      content: url("../images/picto-pdf.svg");
      margin-left: -30px;
      position: relative; 
      top: 8px; 
      margin-right: 10px; 
    }
    &:hover{
      color: $mainColor; 
    } 
  }

  // blocks
  .bodytext + .quote{
    margin-top: -20px;
  }

  .quote{
    margin: 0 0 25px $marginBig;
  }

  .quote + .list{
    margin-top: $marginBig;
  }

  blockquote{
    margin: $marginNormal 0 $marginSmall $marginNormal;
  }

  .quote blockquote{
    margin:0;
    p{
      margin-bottom:$marginSmall/2;
    }
  }

  .list{
    h2{
      margin-bottom: $marginBig; 
    }
    article{
      padding: 0; 
      margin:0; 
      margin-top: $marginNormal; 
      padding-bottom: $marginNormal; 
      &:hover{
        h3{
          color: $mainColor; 
          font-style: italic;
        }
      }
      &.active{
        h3{
          color: $mainColor; 
          font-style: italic;
          &::after{
            content:'↑'; 
          }
        }
      }
      h3{
        text-decoration: none; 
        font-weight:normal;
        font-style: normal;
        margin:0;
        cursor: pointer;
        &::after{
          content:'↓'; 
          color: $mainColor;
          margin-left: $marginNormal;
          position: relative;
          top: -2px;
        }
      }
      .content-to-hide{
        h3{
          color: $textColor;
          text-decoration: underline;
          margin-bottom: $marginSmall;
          &::after{
            content:"";
          }
        }
        .list_title-info{
          p{
            font-size: $smallTextSize;
            font-style: italic;
            margin-top:0;
          }
        }
        .list_pdfs{
          font-size: $smallTextSize;
          li{
            padding-left: 30px;
            margin-left: 5px;
            &::before{
              content: url("../images/picto-pdf.svg");
              margin-left: -30px;
              position: relative; 
              top: 10px; 
            }
          }
          a{
            color: $textColor;
            margin-left: 10px;

            &:hover{
              color: $mainColor; 
            }
          } 
        }
      }
    }

  }

  .foldtext{
    @include grayBorder;
  }

  .bodytext{
    ul{
      li{
        list-style: disc;
        margin-left: $marginNormal;
        margin-bottom: $marginSmall;
      }
    }
    & + .imagesgallery{
      margin-top: -30px;
    }
  }

  .imagesgallery{
    margin-bottom: $marginBig;
    .row{margin-left:0;}
    .project__image{
      margin-left: -10px;
    }
    .image-same-height{
      height: 200px;
    }
  }

  .pagesgallery{
    margin-bottom:0;
    li{
      margin-bottom: $marginBig;
      a{
        figcaption{
          margin-top: $marginSmall/2;
          color: $textColor;
        }
        &:hover figcaption{
          color: $mainColor;
        }
        
      }
    }
  }

  .projectsgallery{
    ul{
      margin:0;
    }
    li{
      margin-bottom: $marginNormal;
      h3{
        font-size:22px;
      }
      h3, p{
        color: $textColor;
        text-decoration:none;
        margin:0;
      }
      a:hover h3, a:hover p{
        color: $mainColor;
      }
    }
  }

  // UNIFORM
  .adhesion{
    label{
      padding-bottom:5px;
    }
    input{
      display:block;
      font-size: $textSize;
      font-family: $font;
    }
    input[type="text"], input[type="email"]{
      margin-bottom: $marginSmall;
      width: 300px;
      height: 30px;
      background: transparent;
      border: 0.01em solid #BDBDBD;
    }
    input[type="radio"]{
      display:inline-block;
    }
    textarea{
      width: 50%;
      height: 100px;
      display: block;
      background: transparent;
      border: 0.01em solid #BDBDBD;
    }
    input[type="submit"]{
      margin-top: $marginNormal;
      background:transparent;
      padding: 0;
      cursor: pointer; 
      font-size: $textSize;
      font-family: $font;
      border: 0.01em solid #BDBDBD;
      padding: $marginSmall;
      &:hover{
        color: $mainColor;
      }
    }
  }
  .uniform__potty {
    position: absolute;
    left: -9999px;
  }


 


  // -------------- DESKTOP GENERAL --------------
  @media only screen and (min-width: 48em){
    .cover {
      margin:0;
    }
    main{
      padding-top:$marginNormal;
      padding-right: $marginNormal;
      width: 96%;
    }
    .sidebar{
      padding-top:8vw;
      position: relative;
      width:100%;
      max-width:16.667%;
      // border: 1px solid gray;
    }

    .top-page{
      border-bottom: 1px solid $mainColor;
      margin-left: 1rem;
      h1{
        max-width: 80%;
      }
    }


  .go-back-arrow{
    position: fixed;
    margin-left: -2%;
    margin-bottom: 0;
    margin-top: $marginBig;
  }


  .show-for-small-only{
      display:none !important;
  }
  .hide-for-small-only{
      display:block !important;
  }

  .image-same-height{
    height: 142px;
  }

}

@media only screen and (min-width: 1920px){
  body[data-template="default"], body[data-template="actualites"]{
    .content-inner{
      max-width: 1200px;
    }
  }


}





