* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 17px;
  font-family: "Concorde BQ", serif;
  background: #f9f8f7;
  line-height: 1.4;
  color: #212121;
  overflow-x: hidden; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: red;
  text-decoration: none; }

a:visited {
  color: red; }

a:hover {
  color: red;
  font-style: italic; }

img {
  width: 100%;
  vertical-align: top; }

figure {
  margin: 0; }

figcaption {
  font-size: .8em;
  color: #11214d; }
  figcaption p {
    margin: 0;
    font-size: .8em;
    color: #11214d;
    display: inline-block; }

p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px; }

h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: normal;
  font-style: italic; }

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 27px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3; }

h3 {
  text-decoration: underline;
  font-size: 17px; }

h4 {
  color: red;
  font-weight: 700;
  margin-bottom: 20px; }

h5 {
  margin-top: 40px;
  margin-bottom: 10px; }

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic; }

video, iframe {
  width: 100%; }

.nav {
  margin: 0;
  width: 100%;
  font-size: 17px;
  padding: 0; }
  .nav .main-nav {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0; }
    .nav .main-nav ul {
      padding: 0; }
      .nav .main-nav ul .groupe1 {
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe2 {
        font-size: 27px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe3 {
        font-size: 27px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe4 {
        font-size: 17px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe5 {
        font-size: 17px;
        margin-bottom: 30px; }
      .nav .main-nav ul .old-site p {
        font-size: 13px; }
      .nav .main-nav ul li {
        list-style: none;
        color: #212121;
        border-bottom: 0.01em solid #BDBDBD; }
        .nav .main-nav ul li a {
          color: #212121; }
          .nav .main-nav ul li a:hover {
            color: red; }
        .nav .main-nav ul li.active a {
          color: red; }

header {
  z-index: 100; }
  header a {
    text-decoration: none; }
  header .logo {
    position: absolute;
    width: 15%;
    min-width: 180px;
    top: 0;
    left: 0;
    padding: 20px 20px 0 20px; }
    header .logo h1 {
      font-family: "Maximum", sans-serif;
      color: #212121;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      font-weight: bold; }
    header .logo img {
      min-width: 50px; }
    header .logo a {
      border: none; }
  header .menu_btn {
    position: absolute;
    right: 8%;
    top: 30px;
    cursor: pointer;
    text-transform: uppercase; }
    header .menu_btn .menu-arrow {
      display: inline-block;
      position: relative;
      top: -2px; }
    header .menu_btn:hover {
      font-style: italic;
      color: red; }
  header .nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background: #f9f8f7;
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 20px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    header .nav.active {
      max-height: 100vh; }

@media only screen and (min-width: 48em) {
  header {
    padding: 0; }
    header .logo .image-logo-wrapper {
      width: 50%;
      margin: auto; }
    header .nav {
      width: 75.333%;
      max-width: 75.333%;
      left: 17%; } }

.list-projects__th {
  border-bottom: 2px solid #212121;
  padding-bottom: 10px; }

.list-projects-content article {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  max-height: 180px;
  overflow: hidden;
  padding-bottom: 20px; }
  .list-projects-content article:hover {
    cursor: pointer; }
    .list-projects-content article:hover .list-project__td--date {
      color: red;
      font-style: italic; }

.list-project__details__inner {
  margin-left: 0; }

.list-project__td {
  padding-right: 0; }
  .list-project__td h2 {
    font-size: 17px;
    margin-top: 20px; }

.list-project__td--distrbution p, .list-project__td--partenaires p {
  font-size: 14px; }

@media only screen and (min-width: 48em) {
  .list-project__details__inner {
    margin-left: -1rem; } }

.sidebar .tags {
  margin-top: 40px;
  padding-left: 20px; }
  .sidebar .tags li {
    font-size: 14px;
    border-bottom: 0.01em solid #BDBDBD;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
    cursor: pointer; }
    .sidebar .tags li:hover, .sidebar .tags li.active {
      color: red;
      border-bottom: 1px solid red; }

.list-projects-content {
  margin-left: 0; }

.album-project {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  .album-project.hide {
    opacity: 0; }
  .album-project .album-project-info {
    position: absolute;
    background: #FFF;
    border-top: 0.01em solid #BDBDBD;
    border-bottom: 0.01em solid #BDBDBD;
    padding: 20px;
    display: none;
    z-index: 99; }
    .album-project .album-project-info h3, .album-project .album-project-info p {
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
      margin: 0;
      margin-bottom: 5px; }
    .album-project .album-project-info h2 {
      font-size: 17px;
      margin: 0;
      margin-bottom: 5px; }

.actualite h2:hover {
  color: red;
  cursor: pointer; }

.actualite h2.active {
  color: red; }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

main {
  padding: 150px 20px 0px 20px;
  width: 100%;
  margin: auto;
  font-size: 17px;
  margin-bottom: 200px; }

.sentence-gray-italic {
  color: #646464;
  font-style: italic;
  font-size: 17px; }

.top-page {
  border-bottom: 1px solid red;
  margin-left: 1rem; }

body[data-template='actualites'] .top-page, body[data-template='escales'] .top-page, body[data-template='album'] .top-page {
  text-transform: uppercase; }

.content-inner {
  margin-top: 40px; }

.small {
  font-size: 14px; }

.cover {
  margin-bottom: 20px;
  margin-right: 20px; }

.image-same-height {
  height: 150px;
  text-align: left;
  padding: 10px;
  margin-left: 1rem; }
  .image-same-height img {
    width: auto;
    max-height: 100%; }

section {
  margin-bottom: 80px; }

article {
  border-bottom: 0.01em solid #BDBDBD;
  margin-top: 20px;
  padding-bottom: 10px; }
  article:first-child {
    margin-top: 0; }

.content-to-hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .content-to-hide.active {
    max-height: 600px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.quote {
  margin: 40px 0 40px 40px; }

@media only screen and (min-width: 48em) {
  .cover {
    margin: 0; }
  main {
    padding-top: 20px;
    width: 96%; }
  .sidebar {
    padding-top: 8vw; }
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; } }
