@charset "UTF-8";
@font-face {
  font-family: 'Concorde BQ';
  src: url("../fonts/ConcordeBQ-Regular.woff2") format("woff2"), url("../fonts/ConcordeBQ-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Maximum';
  src: url("../fonts/Maximum-Gras.woff2") format("woff2"), url("../fonts/Maximum-Gras.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  font-size: 17px;
  font-family: "Concorde BQ", serif;
  background: #f9f8f7;
  line-height: 1.4;
  color: #212121;
  overflow-x: hidden; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: red;
  text-decoration: none; }

a:visited {
  color: #212121; }

a:hover {
  color: red;
  font-style: italic; }

img {
  width: 100%;
  vertical-align: top; }

figure {
  margin: 0; }

figcaption {
  max-width: 170px; }
  figcaption p {
    font-style: italic;
    font-size: 12px;
    color: #646464;
    margin-top: 5px; }

.audiocaption {
  font-size: 17px;
  font-style: italic; }

p {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px; }

h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: normal; }

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 27px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3; }

h3 {
  text-decoration: underline;
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 10px; }

h3 + p {
  margin-top: 0; }

h4 {
  color: red;
  font-weight: 700;
  margin-bottom: 20px; }

h5 {
  margin-top: 40px;
  margin-bottom: 10px; }

blockquote {
  margin: 0;
  padding: 0;
  font-style: italic; }

video, iframe {
  width: 100%; }

.nav {
  margin: 0;
  width: 100%;
  font-size: 17px; }
  .nav .main-nav {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 0; }
    .nav .main-nav ul {
      padding: 0; }
      .nav .main-nav ul .groupe1 {
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe2 {
        font-size: 27px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe3 {
        font-size: 27px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe4 {
        font-size: 17px;
        margin-bottom: 30px; }
      .nav .main-nav ul .groupe5 {
        font-size: 17px;
        margin-bottom: 30px; }
      .nav .main-nav ul .old-site p {
        font-size: 13px; }
      .nav .main-nav ul .old-site a {
        color: red; }
      .nav .main-nav ul li {
        list-style: none;
        color: #212121;
        border-bottom: 0.01em solid #BDBDBD; }
        .nav .main-nav ul li a {
          color: #212121; }
          .nav .main-nav ul li a:hover {
            color: red; }
        .nav .main-nav ul li.active a {
          color: red; }

header {
  z-index: 100; }
  header a {
    text-decoration: none; }
  header .logo {
    padding-top: 8vw;
    position: absolute;
    width: 16.667%;
    min-width: 110px;
    max-width: 450px;
    top: 0;
    left: 1.1rem;
    z-index: 201;
    padding: 20px 1rem 0 1rem; }
    header .logo h1 {
      font-family: "Maximum", sans-serif;
      color: #212121;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      font-weight: bold; }
    header .logo img {
      min-width: 50px; }
    header .logo a {
      border: none; }
  header .menu_btns {
    position: fixed;
    right: 8%;
    top: 0px;
    z-index: 301;
    padding-top: 20px; }
    header .menu_btns .menu_btn {
      cursor: pointer;
      text-transform: uppercase; }
      header .menu_btns .menu_btn .menu-arrow {
        display: inline-block;
        position: relative;
        top: -2px; }
      header .menu_btns .menu_btn:hover {
        font-style: italic;
        color: red; }
    header .menu_btns .languages {
      text-align: right; }
      header .menu_btns .languages li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px; }
        header .menu_btns .languages li a {
          color: #212121; }
          header .menu_btns .languages li a:hover {
            color: red; }
        header .menu_btns .languages li.active a {
          color: red;
          font-style: italic; }
        header .menu_btns .languages li::before {
          content: "/"; }
        header .menu_btns .languages li:first-child:before {
          content: ""; }
  header .nav {
    max-height: 0;
    overflow: hidden;
    position: fixed;
    background: #f9f8f7;
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 300;
    padding: 0 40px; }
    header .nav .main-nav {
      margin-top: 60px; }
    header .nav.active {
      max-height: 100vh;
      overflow: auto;
      padding-top: 20px;
      padding-bottom: 40px; }

@media only screen and (min-width: 48em) {
  header {
    padding: 0; }
    header .logo {
      position: fixed;
      left: 0; }
      header .logo .image-logo-wrapper {
        width: 45%;
        margin: auto; }
    header .nav {
      width: 75.333%;
      max-width: 75.333%;
      left: 17%;
      padding: 0; }
      header .nav .main-nav {
        margin-top: 10px; } }

.escales_intro-text {
  margin-bottom: 50px; }

.list-projects__th {
  border-bottom: 0.12em solid #212121;
  padding-bottom: 10px;
  font-size: 14px; }

.list-projects-content p, .list-projects-content h2 {
  margin: 5px 0px; }

.list-projects-content .list-project__td--distribution p, .list-projects-content .list-project__td--partenaires p {
  font-size: 12px; }

.list-projects-content article {
  font-size: 14px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  max-height: 55vw;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .list-projects-content article figure img {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }
    .list-projects-content article figure img.loaded {
      opacity: 1; }
  .list-projects-content article p, .list-projects-content article h2 {
    font-size: 14px; }
  .list-projects-content article h2 {
    margin-bottom: 0; }
  .list-projects-content article h2 + p {
    margin-top: 0; }
  .list-projects-content article .list-project__td--title p {
    margin: 0; }
  .list-projects-content article:hover {
    cursor: pointer; }
    .list-projects-content article:hover .list-project__td--date {
      color: red;
      font-style: italic; }
  .list-projects-content article.active {
    max-height: 2000px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .list-projects-content article.active .list-project__td--date {
      color: red;
      font-style: italic; }
    .list-projects-content article.active .list-project__details__inner {
      height: auto;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .list-projects-content article.active .list-project__details__inner .chopper {
        display: none; }
      .list-projects-content article.active .list-project__details__inner .entire {
        display: block; }

.list-project__details__inner {
  margin-left: 0;
  height: 55vw;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .list-project__details__inner .entire {
    display: none; }

.list-project__td {
  padding-left: 0; }
  .list-project__td h2 {
    font-size: 17px; }

@media only screen and (min-width: 48em) {
  .list-project__details__inner {
    margin-left: -1rem; }
  .list-projects__td--date, .list-project__td--date {
    max-width: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%; }
  .list-projects__td--topography, .list-project__td--topography {
    max-width: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .list-projects__td--place, .list-project__td--place {
    max-width: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; }
  .list-projects__td--title, .list-project__td--title {
    max-width: 18%;
    -ms-flex-preferred-size: 18%;
    flex-basis: 18%; }
  .list-projects__td--distribution, .list-project__td--distribution {
    max-width: 18.5%;
    -ms-flex-preferred-size: 18.5%;
    flex-basis: 18.5%; }
  .list-projects__td--partenaires, .list-project__td--partenaires {
    max-width: 18.5%;
    -ms-flex-preferred-size: 18.5%;
    flex-basis: 18.5%; }
  .list-projects-content p, .list-projects-content h2 {
    margin: 20px 0px; }
  .list-projects-content article {
    max-height: 160px; }
  .list-project__details__inner {
    height: 160px; }
  .list-project__td {
    padding-left: 1rem; }
    .list-project__td h2 {
      margin-top: 20px; } }

.tags {
  z-index: 200;
  width: inherit;
  max-width: inherit;
  margin-bottom: 40px; }
  .tags li {
    margin-right: 10px;
    display: inline-block;
    width: auto;
    font-size: 14px;
    border-bottom: 0.01em solid #BDBDBD;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative; }
    .tags li:hover, .tags li.active {
      color: red;
      border-bottom: 1px solid red; }
    .tags li:hover:after {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      background: #e1e8ef;
      border-radius: 5px;
      color: #212121;
      content: attr(data-title);
      font-size: 12px;
      font-style: italic;
      padding: 13px;
      width: 220px;
      z-index: 20; }

.list-projects-content {
  margin-left: 0; }

.album-project {
  padding: 0;
  margin: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  position: relative; }
  .album-project.hide {
    opacity: 0;
    display: none; }
  .album-project figure:hover + .album-project-info {
    opacity: 1; }
  .album-project .album-project-info {
    position: absolute;
    top: 0;
    right: -250px;
    background: #FFF;
    border-top: 0.01em solid #BDBDBD;
    border-bottom: 0.01em solid #BDBDBD;
    padding: 5px 20px;
    width: 250px;
    z-index: 99;
    color: #000;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none; }
    .album-project .album-project-info h3, .album-project .album-project-info p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
      margin: 0;
      margin-bottom: 5px; }
    .album-project .album-project-info h2 {
      font-size: 14px;
      margin: 0;
      margin-bottom: 5px; }

.projet-images {
  padding-right: 0; }

.projet-infos {
  border-bottom: 0.01em solid #BDBDBD;
  border-top: 0.01em solid #BDBDBD;
  padding-top: 10px;
  padding-bottom: 20px; }
  .projet-infos .projet-infos-inner h1 {
    font-size: 27px;
    margin: 0;
    font-style: italic; }
  .projet-infos .projet-infos-inner p.date, .projet-infos .projet-infos-inner p.place {
    margin: 5px 0; }
  .projet-infos .projet-infos-inner ul {
    padding-left: 20px; }
    .projet-infos .projet-infos-inner ul li {
      list-style: disc;
      margin-bottom: 10px; }
    .projet-infos .projet-infos-inner ul.pdfs {
      padding-left: 0; }
      .projet-infos .projet-infos-inner ul.pdfs li {
        list-style: none; }

.slick-prev::before, .slick-next::before {
  color: #212121; }

.slider-for {
  position: relative; }

.slider-for .portrait img {
  width: 50%;
  margin: auto; }

.slider-for .landscape {
  position: relative; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem; }
  .slider-nav .image-same-height {
    height: 100px; }

@media only screen and (min-width: 48em) {
  .tags {
    position: fixed;
    margin-top: 40px;
    padding-left: 10px; }
    .tags li {
      display: block;
      width: 80%;
      margin-right: 0; }
  .projet-images {
    padding-right: 1rem; }
  .projet-infos {
    margin-left: 10px;
    -ms-flex-preferred-size: calc(41.667% - 10px);
    flex-basis: calc(41.667% - 10px);
    max-width: calc(41.667% - 10px); } }

.actualite_summary ul li, .actualite_content ul li {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px; }

.actualite h2:hover {
  color: red;
  cursor: pointer; }

.actualite h2.active {
  color: red; }

.show-for-small-only {
  display: block; }

.hide-for-small-only {
  display: none; }

.page_loader {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .page_loader .page_loader-inner {
    width: 200px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    position: absolute;
    z-index: 999; }

main {
  padding: 150px 0 0px 20px;
  width: 100%;
  margin: auto;
  font-size: 17px;
  margin-bottom: 400px; }

.rouge {
  color: red; }

.top-page {
  border-bottom: 1px solid red;
  margin-left: 1rem; }

body[data-template='actualites'] .top-page, body[data-template='escales'] .top-page, body[data-template='album'] .top-page, body[data-template='projet'] .top-page {
  text-transform: uppercase; }

.content-inner {
  margin-top: 40px;
  padding-right: 0; }

.small {
  font-size: 14px; }

.cover {
  margin-bottom: 20px;
  margin-right: 20px; }

.image-same-height {
  height: 90px;
  text-align: left;
  padding: 10px; }
  .image-same-height img {
    width: auto;
    max-height: 100%; }

.audio + p {
  margin-top: 0;
  margin-bottom: 40px; }

.audioplayer {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0; }
  .audioplayer .holder .play-pause-btn__icon {
    fill: red; }
  .audioplayer .slider .gap-progress .pin {
    background-color: #646464; }
  .audioplayer .slider .gap-progress {
    background-color: red; }
  .audioplayer .controls {
    font-family: "Concorde BQ", serif;
    color: #646464;
    font-size: 14px; }
  .audioplayer audio {
    display: none; }
  .audioplayer .volume {
    display: none; }

section {
  margin-bottom: 40px; }

article {
  border-bottom: 0.01em solid #BDBDBD;
  margin-top: 20px;
  padding-bottom: 10px; }
  article:first-child {
    margin-top: 0; }

.more-btn {
  margin-top: 20px;
  padding-bottom: 10px;
  cursor: pointer; }
  .more-btn:hover {
    color: red;
    font-style: italic; }
  .more-btn.active {
    color: red;
    font-style: italic; }
    .more-btn.active::after {
      content: '↑'; }
  .more-btn::after {
    content: '↓';
    color: red;
    margin-left: 20px;
    position: relative;
    top: -2px; }

.content-to-hide {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .content-to-hide.active {
    max-height: 2000px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.go-back-arrow {
  width: inherit;
  max-width: inherit;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-bottom: 10px; }
  .go-back-arrow a {
    color: #212121; }
    .go-back-arrow a:hover {
      color: red; }

.sentence-gray-italic {
  margin-top: 40px;
  position: fixed;
  width: inherit;
  max-width: inherit;
  color: #646464;
  font-style: italic;
  padding-left: 10px; }
  .sentence-gray-italic p {
    font-size: 14px;
    width: 80%; }

.table-of-contents {
  margin-top: 40px;
  position: fixed;
  width: inherit;
  max-width: inherit;
  padding-left: 10px; }
  .table-of-contents li {
    width: 80%;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.01em solid #BDBDBD; }
    .table-of-contents li a {
      color: #212121; }
      .table-of-contents li a:hover {
        color: red; }
    .table-of-contents li.active a {
      color: red;
      font-style: italic; }

.pdf {
  font-size: 14px;
  display: block;
  padding-left: 30px;
  color: #212121; }
  .pdf::before {
    content: url("../images/picto-pdf.svg");
    margin-left: -30px;
    position: relative;
    top: 8px;
    margin-right: 10px; }
  .pdf:hover {
    color: red; }

.bodytext + .quote {
  margin-top: -20px; }

.quote {
  margin: 0 0 25px 40px; }

.quote + .list {
  margin-top: 40px; }

blockquote {
  margin: 20px 0 10px 20px; }

.quote blockquote {
  margin: 0; }
  .quote blockquote p {
    margin-bottom: 5px; }

.list h2 {
  margin-bottom: 40px; }

.list article {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 20px; }
  .list article:hover h3 {
    color: red;
    font-style: italic; }
  .list article.active h3 {
    color: red;
    font-style: italic; }
    .list article.active h3::after {
      content: '↑'; }
  .list article h3 {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    cursor: pointer; }
    .list article h3::after {
      content: '↓';
      color: red;
      margin-left: 20px;
      position: relative;
      top: -2px; }
  .list article .content-to-hide h3 {
    color: #212121;
    text-decoration: underline;
    margin-bottom: 10px; }
    .list article .content-to-hide h3::after {
      content: ""; }
  .list article .content-to-hide .list_title-info p {
    font-size: 14px;
    font-style: italic;
    margin-top: 0; }
  .list article .content-to-hide .list_pdfs {
    font-size: 14px; }
    .list article .content-to-hide .list_pdfs li {
      padding-left: 30px;
      margin-left: 5px; }
      .list article .content-to-hide .list_pdfs li::before {
        content: url("../images/picto-pdf.svg");
        margin-left: -30px;
        position: relative;
        top: 10px; }
    .list article .content-to-hide .list_pdfs a {
      color: #212121;
      margin-left: 10px; }
      .list article .content-to-hide .list_pdfs a:hover {
        color: red; }

.foldtext {
  border-bottom: 0.01em solid #BDBDBD; }

.bodytext ul li {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px; }

.bodytext + .imagesgallery {
  margin-top: -30px; }

.imagesgallery {
  margin-bottom: 40px; }
  .imagesgallery .row {
    margin-left: 0; }
  .imagesgallery .project__image {
    margin-left: -10px; }
  .imagesgallery .image-same-height {
    height: 200px; }

.pagesgallery {
  margin-bottom: 0; }
  .pagesgallery li {
    margin-bottom: 40px; }
    .pagesgallery li a figcaption {
      margin-top: 5px;
      color: #212121; }
    .pagesgallery li a:hover figcaption {
      color: red; }

.projectsgallery ul {
  margin: 0; }

.projectsgallery li {
  margin-bottom: 20px; }
  .projectsgallery li h3 {
    font-size: 22px; }
  .projectsgallery li h3, .projectsgallery li p {
    color: #212121;
    text-decoration: none;
    margin: 0; }
  .projectsgallery li a:hover h3, .projectsgallery li a:hover p {
    color: red; }

.adhesion label {
  padding-bottom: 5px; }

.adhesion input {
  display: block;
  font-size: 17px;
  font-family: "Concorde BQ", serif; }

.adhesion input[type="text"], .adhesion input[type="email"] {
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  background: transparent;
  border: 0.01em solid #BDBDBD; }

.adhesion input[type="radio"] {
  display: inline-block; }

.adhesion textarea {
  width: 50%;
  height: 100px;
  display: block;
  background: transparent;
  border: 0.01em solid #BDBDBD; }

.adhesion input[type="submit"] {
  margin-top: 20px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 17px;
  font-family: "Concorde BQ", serif;
  border: 0.01em solid #BDBDBD;
  padding: 10px; }
  .adhesion input[type="submit"]:hover {
    color: red; }

.uniform__potty {
  position: absolute;
  left: -9999px; }

@media only screen and (min-width: 48em) {
  .cover {
    margin: 0; }
  main {
    padding-top: 20px;
    padding-right: 20px;
    width: 96%; }
  .sidebar {
    padding-top: 8vw;
    position: relative;
    width: 100%;
    max-width: 16.667%; }
  .top-page {
    border-bottom: 1px solid red;
    margin-left: 1rem; }
    .top-page h1 {
      max-width: 80%; }
  .go-back-arrow {
    position: fixed;
    margin-left: -2%;
    margin-bottom: 0;
    margin-top: 40px; }
  .show-for-small-only {
    display: none !important; }
  .hide-for-small-only {
    display: block !important; }
  .image-same-height {
    height: 142px; } }

@media only screen and (min-width: 1920px) {
  body[data-template="default"] .content-inner, body[data-template="actualites"] .content-inner {
    max-width: 1200px; } }
